$font-family--global: 'opensans', sans-serif;

$color-text-main: #0B1331;
$color-text-form: #BFC6E0;
$color-text-application: #fff;

$color-btn-application: #3657C8;
$color-btn-form: #6ACDF8;
$color-bg-form: #3657C8;

$color-star: #D24B6C;


$color-gradient: linear-gradient(311.97deg, rgba(67, 19, 128, 0.4) 12.83%, rgba(64, 0, 146, 0) 59.94%), #6ACDF8;



$screen-table: 768px;
$screen-desktop: 1200px;

